.App {
  text-align: center;
}

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.userCard {
  display: inline;
  padding: 2%;
  margin-top: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: #1c6ea4;
}

