body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New',
    monospace;
}

.userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.userCard {
  display: inline;
  padding: 2%;
  margin-top: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: #1c6ea4;
}